@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.dW35KL {
    padding-top: 5em;
    padding-left: 35em;
    padding-right: 35em;
}

.btn.btn-link.btn-block.text-left.pHFe3 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    /* color: white; */
}


.form-inline {
    align-items: flex-end!important;
}
