.O13N7c {
    padding: 15px 0px 0px 20px;
}

.gWjfMb {
    padding: 5px 0 0px 20px;
    width: 95%;
}

.wefgw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-end !important;
    width: 90% !important;
    padding: 20px 20px 20px 20px;
}

.Ur3K {
    height: 38px;
}

.RT30om {
    margin-left: 0em !important;
    margin-right: 12em !important;
    margin-top: 5em !important;
}

.ZCeVXe {
    padding-left: 2em;
    padding-top: 1em;
}

.PEg4M {
    display: flex;
    align-items: center;
}

.r5zfde {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 10px 0px;
}

.M3t4R {
    background-color: #343a40 !important;
}
