*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
p,ul,li{
	font-size: 18px;
}
a{
	color:#0080c0;
}
.js_balance, .js_other{
	display: none;
}
.arrow{
	display: flex;
	align-items: center;
}
.gray{
	color:#999;
}
.banner_1{
	width: 100%;
	text-align: center;
	background-color: #ccc;
}
.wrapper_dd{
	margin:3%;
	display: flex;
	font-family: 'Roboto', serif;
}
.header{
	display: flex;
	justify-content: space-between;
}
.header .left{
	width: 35%;
}
.header .right{
	display: flex;
}
.header .right .info_user_block{
	display: flex;
	flex-direction: column;
	align-content: center;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 30px;
	margin: 5px;
}
.header img{
	max-width: 100%;
}
.head_info:hover{
	cursor: pointer;
}
.content{
	width: 100%;
	background: #f9f9f9;
	padding: 1%;
	border-radius: 10px;
}
.text_dd{
	padding: 3%;
	line-height: 30px;
}
.sum_dd{
	text-transform: uppercase;
	text-align: center;
	padding: 50px 0;
	font-size: 25px;
	color:#333;
}
.autoplay{
	width: 100%;
	height: 150px;
}
.ttu_dd{
	text-transform: uppercase;
	font-size: 25px;
	width: 100%;
	text-align: center;
	padding: 50px 0;
	font-weight: 900;
}


/*=== sidebar ===*/
.sidebar{
	display: none;

	width: 20%;
	position: fixed;
	right: 10%;
}
.sidebar ul{
	list-style: none;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sidebar ul li{
	padding: 5px 0;
	text-transform: uppercase;
}
.sidebar ul li:hover{
	background: #e7e7e7;
}
.sidebar ul li a{
	color:#303440;
	text-decoration: none;
}
.info{
	display: flex;
	align-items: center;
}
.info img{
	border-radius: 5px;
}
.info_user{
	padding: 5px;
}
.info .name{
	font-size: 18px;
	font-weight: 900;
}
.info .name a{
	text-decoration: none;
	color:#330404;
}
.btn{
	padding: 10px;
	margin: 5px 0;
	background: #e2e2e2;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
	border: none;
}
.btn:hover{
	cursor: pointer;
	background: #ccc;
}
.search_sidebar{
	display: none;
}
.from_sidebar .text{
	padding: 15px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #eee;
}
.from_sidebar input{
	outline: none;
}
.btn_place{
	padding: 10px;
    margin: 5px 0;
    background: #e2e2e2;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    border: none;
}
.btn_place:hover{
	cursor: pointer;
	background:#ccc;
}
/* sidebar END */

/* navbar */
.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background:#ff6600;
}
.navbar ul {
	width: 40%;
	display: flex;
	justify-content: space-between;
	list-style: none;
	line-height: 50px;
	padding: 0 5px;
}
.navbar ul li a{
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
}
.navbar ul li:hover{
	background: #0079c2;
}


/* navbar END */

/*=== secrch ===*/
.search{
	width: 100%;
	padding-top: 20px;
}
.from_seacrh .text{
	width: 80%;
	padding: 15px;
	height: 35px;
	border-radius: 5px;
	border: none;
	background: #eee;
	font-size: 20px;
}
.from_seacrh input{
	outline: none;
	width: 10%;
}
.form_search .resault{
	border: 1px solid #e2e2e2;
	padding: 5px;
}
/* seacrch END */


/*=== slider ===*/
.autoplay{
	padding: 0 3%;
}
.slaider_item{
	border: 1px solid #eee;
	text-align: center;
	margin: 5px;
}
/* plus */
.plus_dd{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.plus_text{
	display: flex;
	width: 100%;
	padding: 0 5%;
}
.plus_text ul{
	width: 50%;
}
.plus_text ul li{
	margin: 1%;
	padding: 1%;
}
/* plus END */

/*=== info_block ===*/
.info_block{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 50px 0;
	flex-wrap: wrap;
}
.info_item{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info_item .orange{
	color:#ff6600;
	font-size: 40px;
	font-weight: 900;
}

/*== pop ==*/
.pop_search{
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pop_search_items{
	padding: 50px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}


/*=== other_items ===*/
.other_items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
}
.other_item{
	margin: 1%;
	width: 48%;
	padding: 3%;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);

	display: flex;
	flex-direction: column;
	align-items: center;
}
.other_item:hover{
	box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
}
.other_item h2{
	text-transform: uppercase;
	padding: 5% 0;
}
.other_item p{
	text-align: center;
}
/* other END */

/*=== balance_dd ===*/
.balance_dd{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.balance_items{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}
.balance_item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	padding: 3%;
}
.balance_item h2{
	padding: 20px;
}
.balance_item p{
	padding: 10px;
}
.balance_item ul{
	padding: 10px;
}
.balance_item ul li{
	padding: 5px;
}
/* balance END */

/*=== regulations ===*/
.regulations{
padding: 3%;
}
.reg_item p{
	padding: 20px 0; 
}
.reg_item .gray_fon{
	padding: 15px 20px;
	background: #ebebeb;
	width: 264px;
}
.reg_item .important{
    padding: 30px 35px;
    margin: 20px;
    border: 2px dashed #ff6700;
}
.reg_item .ttu_dd{
	padding: 0;
}
/* regulations END */


/* other_link */
.other_link{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.other_link_items{
	display: flex;
	padding: 0 5%;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}
.other_link_item{
	margin: 1%;
}

footer{
	background: #8f8f8f;
	color:#fff;
	display: flex;
	align-content: center;
	padding: 25px 0 100px;
	font-family: 'Roboto', serif; 
}
footer div{
	width: 70%;
	display: flex;
	margin: 0 auto;
}
footer p{
width: 100%;
}
footer ul{
	list-style: none;
	
}