.bottom-panel {
    float: left;
    width: 100%;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    font-size: 14px!important;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: #4b4b4b;
}

.bottom-panel .button{
    background: #fff;
    border: 1px solid #eaeaea;
    border-bottom: none;
    width: 31px;
    height: 17px;
    cursor: pointer;
    margin-left: 66px;
    margin-bottom: -1px;
    z-index: 100;
    position: relative;

    -webkit-box-shadow: 0px -6px 16px -6px rgba(220, 220, 220, 0.8);
    -moz-box-shadow:    0px -6px 16px -6px rgba(220, 220, 220, 0.8);
    box-shadow:         0px -6px 16px -6px rgba(220, 220, 220, 0.8);
}

.bottom-panel .arrow{
    width: 17px;
    height: 11px;
    margin: 3px auto;
    display: block;
    background: url(arrows.png);
    background-position: 0 -11px;
}

.bottom-panel.open .arrow{
    background: url(arrows.png);
    background-position: 0 0;
}

.bottom-panel .panel-body{
    border: 1px solid #eaeaea;
    border-bottom: none;
    margin: 0 5px;
    background: #fff;
    z-index: 50;
    position: relative;

    -webkit-box-shadow: 10px 5px 25px 10px rgba(220, 220, 220, 0.8);
    -moz-box-shadow:    10px 5px 25px 10px rgba(220, 220, 220, 0.8);
    box-shadow:         10px 5px 25px 10px rgba(220, 220, 220, 0.8);
}

.bottom-panel .panel-body.closed{
    border: 1px solid #cecece;
    border-bottom: none;
    z-index: 101;
}

.bottom-panel .panel-body .header{
    border-bottom: 1px solid #eaeaea;
    height: 35px;
    line-height: 34px;
    padding-left: 64px;
    font-weight: bold;
    cursor: pointer;
}

.panel-content{
    display: table;
    width: 100%;
}

.panel-content .row{
    display: table-row;
}

.panel-content .row > div{
    display: table-cell;
}

.panel-content .prompt{
    padding: 20px 20px 20px 20px;
    font-size: 12px!important;
}

.panel-content .prompt .operator{
    width:140px;
    float: right;
    border: 1px solid #dddede;
}

.panel-content .prompt .head{
    font-weight: bold;
    margin-bottom: 10px;
}

.panel-content .prompt p{
    font-size: 12px!important;
    margin: 7px 0 9px;
}

.panel-content .prompt a{
    color: #0079c2;
}

.input-control .label{
    float: left;
    width: 120px;
    text-align: right;
    line-height: 26px;
    font-size: 13px!important;
    color: #4b4b4b;
    font-weight: 200;
}

.input-control .input{
    margin-left: 130px;
    margin-bottom: 7px;
}

.input-control .input .head{
    font-weight: bold;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.input-control .input input,
.input-control .input textarea{
    line-height: 19px;
    border: 1px solid #e8e8e8;
    width: 90%;
    padding: 3px 10px;
    margin: 0;
    color:#A09F9F;
    background: #f3f3f3;
    font-size: 12px!important;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}

.input-control .input textarea{
    height: 75px;
}

.panel-content input[type="submit"],
.orangebtn{
    background: #f88707;
    border: 1px solid #f4b163;
    color: #fff;
    font-variant: small-caps;
    font-size: 14px!important;
    height: 25px;
    float: right;
    margin-bottom: 20px;
}

.orangebtn{
    margin: 4px 15px;
    padding: 0 15px;
    float: none;
    display: inline-block;
    line-height: 27px;
}

#form-send{
    color:#505559;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: table;
    width: 100%;
}

#form-send .message{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.alternative {
    text-align: right;
    font-size: 13px!important;
    color: #4b4b4b;
    width:370px;
    margin-bottom: 5px;
    font-weight: bold;
}

#captchawrap{
    float: right;
    position: relative;
    margin-bottom: 10px;
    width:340px;
}

#captchawrap a{
    cursor: pointer;
    margin-left:-71px;
    display: block;
}

#captchawrap img {
    float:left;
    height:42px;
    width:170px;

}

#captchawrap input{
    color: rgb(160, 159, 159);
    margin: 0px;
    width: 97%;
    width: calc(100% - 195px);
    margin-top: 0px;
    border: 1px solid #e8e8e8;
    padding: 3px;
    height:36px;
    background: #f3f3f3;
    font-size: 12px!important;
    margin-left:5px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    margin-top:-18px;
}

.error input, .error textarea{
    border: 1px solid red !important;
}

.errorLabel{
    color: red;
    font-size: 11px!important;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    margin-bottom: 10px;
    display: none;
}

.error .errorLabel{
    display: block;
}


.loadingbottompanel {
    float: right;
    display: none;
    margin-top:5px;
    margin-right: 10px;
    width:16px;
    height:16px;
    background: url('/rc2012/img/ajax-loader.gif') center center no-repeat;
}