
body {
	font-family: Arial, Tahoma, sans-serif;margin: 0;
}

h2.simple {color: #191919; margin-top: 0;}
p, li {font-size: 13px; line-height: 140%;}
td.spravka {color: #595959; font-size: 100%;}
td.spravka h2 {color: rgb(0, 121, 194);}

.answer {margin-left: 30px; color: #595959; font-size: 90%;}

.head_logo {padding: 30px 0px 10px 0px;}
.all_1  {padding: 0px 50px 0px 50px;}
.head_1 {font-family: Arial, sans-serif; color: #888888;}
.head_1 a       {color: #000000; text-decoration: underline;}
.head_1 a:hover {color: #000000; text-decoration: underline;}
.head_2 {font-family: Arial, sans-serif; color: #888888; font-size: 75%; background-image: url("/img/bg-grad.gif");}
.head_3 {font-family: Arial, sans-serif; color: #000000; font-size: 80%;}
.head_4 {font-family: Arial, sans-serif; color: #888888; font-size: 75%; padding: 10px 0px 0px 0px;}
.red_h  {font-family: Arial, sans-serif; color: #fe5a24; font-size: 110%; font-weight: bold;}
.brief, .brief p {font-family: Arial, sans-serif; color: #000000; font-size: 85%;}
.btm_1  {background-color: #f5f5f5; font-family: Arial, sans-serif; color: #000000; font-size: 80%; padding: 10px 20px 10px 20px;}
h3.head_gen_b {font-family: Trebuchet MS; color: #0079c2;  margin-bottom: 10px; font-weight:normal;}
h3.head_gen_b  a {font-family: Trebuchet MS; color: #0079c2;  margin-bottom: 10px;font-weight:normal;}

a       {color: #0079c2; text-decoration: underline;}
a:hover {color: #ff0000; text-decoration: underline;}
a.menu  {font-size: 80%; font-weight: bold;}
a.menu.active  {font-size: 80%; font-weight: bold; color: #fe5a24;}


.login {font-size:0.7em; float: left; margin-top:7px;line-height: 130%;}
.login h2 {color: #0079c2;  font-weight: normal; }
.login form input {float: left; margin-right: 2px; display: inline; font-size:1em;}
.login form input.in {width: 94px; height: 22px; border: 1px solid #b3e3ff; padding:3px;}

.search input {font-size:1em; }
.search input.in { width: 100%; height: 22px; border: 1px solid #b3e3ff;  }
.search span {font-size: 1em; font-family: Arial, Tahoma; color:#666666;}
.search span a {color: #666666;}

.date {font-size: 0.7em;font-family: Arial, Tahoma;}

.blue {font-family: Trebuchet MS; color: #0079c2;}
.content {font-size:1em;line-height: 120%;font-family: Arial, Tahoma;}
.content table {line-height: 120%;}
.divForm form input, .divForm form select , .divForm form textarea, .select { border: 1px solid #b3e3ff; line-height: 110%; padding-top: 3px; padding-left: 4px;}
.divForm form input.in {height: 22px; border: 1px solid #b3e3ff; padding:5px;}
.bottom { border: 1px solid #b3e3ff; height: 22px; font-size: 0.9em; padding-left: 4px;background-color: #0791e4; color:white;}

/* .tblbord td {border: none; text-align: left;} */
.help{

background-color: #fcfcfc;
border: 1px solid #b3e3ff;
padding:5px;
font-size: 0.9em;
}
.sm{
font-size: 0.9em;
}

.white-corner-0 {background: transparent url(/img/white_corner_bottom_left.gif) left bottom no-repeat;}
.white-corner-1 {background: transparent url(/img/white_corner_top_left.gif) left top no-repeat;}
.white-corner-2 {background: transparent url(/img/white_corner_top_right.gif) right top no-repeat;}
.white-corner-3 {background: transparent url(/img/white_corner_bottom_right.gif) right bottom no-repeat; padding: 10px 26px 10px 12px;}





.sorting_bar {padding: 2px 0 2px 0; height: 24px;}
.sorting_bar .active_link, .sorting_bar a, .sorting_bar span {margin-right: 15px; color: #191919; font-size: 12px;}


.control{
	background-color:#f7f7f7;
	border-bottom:3px solid #b9b9b9;
	font-size: 13px; color: #0079c2;
}
.control td {
	font-size: 13px; color: #0079c2;
}

.product_list .item {padding: 0 15px 37px 15px;}
.product_list .item a.title {font-size: 13px; color: #000000;}
.product_list .item table {margin-top: 14px;}
.product_list .item table td {vertical-align: top;}
.product_list .item table td img {border: 1px solid #dfdede;}
.product_list .item table td .desc {margin-bottom: 5px; font-size: 12px; color: #191919;}
.product_list .item table td .company {float: left;}
.product_list .item table td .company, .product_list .item table td .company * {font-size: 12px;}
.product_list .item table td a.price-on, .product_list .item table td a.price-off {display: block; width: 169px; height: 33px; color: white; text-decoration: none; padding-top: 3px;}
.product_list .item table td a.price-off {background: url(/img/price_off.png) left top no-repeat; font-size: 18px; padding-top: 4px;}
.product_list .item table td a.price-on {background: url(/img/price_on.png) left top no-repeat; font-size: 24px;}
.product_list .item table td a.price-on span {font-size: 12px;}



*.none {display: none;}
.a_note a
{
	font-size: 10px;
}
.no_sort
{
	padding-left: 10px;
}
.up_sort
{
	background: url(/img/orange_arrow_grey_bg.gif) 5px left no-repeat;
	padding-left: 10px;
}
.down_sort
{
	background: url(/img/orange_arrow_grey_bg2.gif) 5px left no-repeat;
	padding-left: 10px;
}

.nologin{
	padding: 5px;
}


.pagination {text-align: left; font-size: 12px;}
.pagination a
{
    padding: 4px 4px;
    margin: 0px 0px;
    background-color: #eaf6fe;
}
.pagination a.active
{
    background-color: #cccccd;
    font-weight: bold;
    color: #0a0a0a;
    text-decoration: none;
}
.pagination span.current {background-color: #dedede; font-weight: bold; padding: 4px 4px; margin: 0px 2px;}

.paginationsm {text-align: left; font-size: 11px;}
.paginationsm a
{
    padding: 4px 4px;
    margin: 0px 0px;
    background-color: #eaf6fe;
}
.paginationsm a.active
{
    background-color: #cccccd;
    font-weight: bold;
    color: #0a0a0a;
    text-decoration: none;
}
.paginationsm span.current {background-color: #dedede; font-weight: bold; padding: 4px 4px; margin: 0px 2px;}

.r1, .r2, .r3 {
    display: block;
    height: 1px;
}
.r3 { margin: 0 3px; }
.r2 { margin: 0 2px; }
.r1 { margin: 0 1px; }

#rounded-box-3 .inner-box, #rounded-box-3  b {
    background-color: #eeeeee;
}

.inner-box {
    padding:1em; max-width: 480px;
}

.r1, .r2, .r3 {
    overflow: hidden;
    font-size:1px;
}



.specblock {text-align: left; font-family: Arial; background: url(/img/specblock_bg.gif) left top repeat-y; width: 500px;}
.specblock .header {padding: 3px 13px 10px 13px; font-size: 14px; color: #191919; background: #f7f7f7 url(/img/specblock_bg.gif) left top repeat-y;}
.specblock .header a {font-size: 12px; color: #fe5a24;}
.specblock .content {padding: 11px 13px 9px 13px;}
.specblock .content h2 {margin: 0 0 12px 0; font-size: 14px; color: #0079c2; font-weight: normal;}
.specblock .content p {padding: 0; margin: 0 0 12px 0; font-size: 12px; color: #191919;}
.specblock .content p.txt-big {font-size: 16px; line-height: 20px; font-weight: bold; font-family: Arial;}
.specblock .content p.last {margin-bottom: 25px;}
.specblock .content a {font-size: 12px; color: #fe5a24; text-decoration: underline;}
.specblock .content a span {text-decoration: underline;}

.lss{
padding: 5 0 5 5;
width:493px;
border: 1px dashed orange;
}
.lss2{
padding: 5 0 5 5;
}

.roundedcornr_box_752003 {
	background: url(/img/c/roundedcornr_752003_tl.png) no-repeat top left;
}
.roundedcornr_top_752003 {
	background: url(/img/c/roundedcornr_752003_tr.png) no-repeat top right;
}
.roundedcornr_bottom_752003 {
	background: url(/img/c/roundedcornr_752003_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_752003 div {
	background: url(/img/c/roundedcornr_752003_br.png) no-repeat bottom right;
}
.roundedcornr_content_752003 {
	background: url(/img/c/roundedcornr_752003_r.png) top right repeat-y;
}
.roundedcornr_content_752003, .roundedcornr_bottom_752003 {
	margin-top: -19px;
}
.roundedcornr_content_752003 { padding: 0 15px; }
.roundedcornr_content_752003 h2{
font-size: 14px;;
color: #0079C2;
font-weight: bold;
font-family: Trebuchet MS;
padding: 5 0 5 0;
}
.roundedcornr_content_752003 p.txt-big {font-size: 16px; line-height: 20px; font-weight: bold; font-family: Arial;}
.roundedcornr_top_752003 div,.roundedcornr_top_752003,
.roundedcornr_bottom_752003 div, .roundedcornr_bottom_752003 {
	width: 100%;
	height: 15px;
	font-size: 1px;
}

.roundedcornr_content_752003  p.last {margin-bottom: 25px;}
.roundedcornr_content_752003  a span {text-decoration: underline;}


#city{
	text-decoration: underline;
	font-style: italic;
	color: #fe5a24;
	cursor: pointer;
}

.dash {
	width: 40px;
	height: 25px;
	float: left;
	position: relative;
}

.dash .digit {
	font-size: 12pt;
	font-weight: bold;
	float: left;
	width: 14px;
	color: red;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 7pt;
	color: #555;
	letter-spacing: 2px;
}

#countdown_dashboard {
	height: 25px;
}

#news{
	color: #333333;
	margin-bottom: 30px;
}
#news a{
	color: #fe5a24;
}
#news h2{
	color: #333333;
}

#footer li{
	line-height: 23px;
}

.item td{
	padding: 3px;
	color: #111111;
	font-family: Tahoma;
	font-size: 13px;
}

.addtolist{
	float:right;
	margin-right: 20px;
	display:none;
	background-color: rgb(0, 128, 192);
	border-radius: 5px;
	padding: 1px 5px;
	line-height: 10px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	z-index: 10;
}
.addtolist a{
	color: white;
	font-size: 10px;
	text-decoration: none;
	position: relative;
	top: -1px;
}
.sellistitem{
	background: url('/img/chkbx.gif') no-repeat #ffffff;
	padding-left: 25px !important;
}

.b4d4ff{
	background-color: #ddeeff;
}

.delfromlist{
	float:right;
	margin-right: 4px;
	display:none;
	background-color: rgb(192, 128, 0);
	border-radius: 5px;
	padding: 1px 5px;
	line-height: 10px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	z-index: 10;
}
.delfromlist a{
	color: white;
	font-size: 10px;
	text-decoration: none;
	position: relative;
	top: -1px;
}
.bestpost{
	font-weight: bold;
	color: rgb(254, 90, 36);
	text-decoration: none;
	border-bottom: 1px solid rgb(254, 90, 36);
}
.bestpost:hover{
	text-decoration: none;
	border-bottom: 0px;
}
